[Unit]
Description=Caddy HTTPS Reverse Proxy for SeaweedFS
Documentation=https://caddyserver.com/docs/
After=network-online.target seaweedfs.service
Wants=network-online.target seaweedfs.service
Requires=seaweedfs.service

[Service]
Type=simple
Restart=always
RestartSec=5
TimeoutStartSec=60
ExecStartPre=-/usr/bin/rm -f %t/%n.ctr-id
ExecStartPre=-/usr/bin/podman rm -f caddy
ExecStart=/usr/bin/podman run \
  --name caddy \
  --cidfile=%t/%n.ctr-id \
  --cgroups=no-conmon \
  --rm \
  --replace \
  --network seaweedfs-net \
  --volume /srv/caddy/Caddyfile:/etc/caddy/Caddyfile:ro \
  --volume /srv/caddy/data:/data:Z \
  --volume /srv/caddy/config:/config:Z \
  --publish 80:80 \
  --publish 443:443 \
  docker.io/library/caddy:2
ExecStop=-/usr/bin/podman stop -t 10 caddy
ExecStopPost=-/usr/bin/podman rm -f caddy
ExecStopPost=-/usr/bin/rm -f %t/%n.ctr-id

[Install]
WantedBy=multi-user.target
