{
    local_certs
}

*.s3.eati-hv-bk-sv.ati.gov.et, s3.eati-hv-bk-sv.ati.gov.et {
    tls internal
    reverse_proxy 127.0.0.1:8333
}

admin.eati-hv-bk-sv.ati.gov.et {
    tls internal
    reverse_proxy 127.0.0.1:23646
}

filer.eati-hv-bk-sv.ati.gov.et {
    tls internal
    reverse_proxy 127.0.0.1:8888
}

master.eati-hv-bk-sv.ati.gov.et {
    tls internal
    reverse_proxy 127.0.0.1:9333
}
