[Unit]
Description=SeaweedFS all-in-one server (S3, Master, Volume, Filer, Admin UI)
Documentation=https://github.com/seaweedfs/seaweedfs/wiki
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5
TimeoutStartSec=60
ExecStartPre=-/usr/bin/rm -f %t/%n.ctr-id
ExecStartPre=-/usr/bin/podman rm -f seaweedfs
ExecStart=/usr/bin/podman run \
  --name seaweedfs \
  --cidfile=%t/%n.ctr-id \
  --cgroups=no-conmon \
  --rm \
  --replace \
  --network seaweedfs-net \
  --volume /srv/seaweedfs/data:/data:Z \
  --volume /srv/seaweedfs/entrypoint.sh:/entrypoint.sh:Z,ro \
  --publish 8333:8333 \
  --publish 9333:9333 \
  --publish 9340:9340 \
  --publish 8888:8888 \
  --publish 7333:7333 \
  --publish 23646:23646 \
  --secret seaweedfs-admin-user,type=env,target=WEED_ADMIN_USER \
  --secret seaweedfs-admin-pass,type=env,target=WEED_ADMIN_PASS \
  --secret seaweedfs-s3-key,type=env,target=AWS_ACCESS_KEY_ID \
  --secret seaweedfs-s3-secret,type=env,target=AWS_SECRET_ACCESS_KEY \
  --env S3_BUCKET=rancher-backup \
  --env S3_DOMAIN_NAME=s3.etai-hv-bk.ato.gov.et \
  docker.io/chrislusf/seaweedfs:4.41 \
  /entrypoint.sh
ExecStop=-/usr/bin/podman stop -t 10 seaweedfs
ExecStopPost=-/usr/bin/podman rm -f seaweedfs
ExecStopPost=-/usr/bin/rm -f %t/%n.ctr-id

[Install]
WantedBy=multi-user.target
